body {
    background: url('background.jpg') no-repeat left top fixed;
    background-size: cover;
}

.text {
    background-color: rgba(255, 255, 255, 0.85);
    width: 800px;
    margin: auto;
    margin-bottom: 50px;
    padding: 50px;
    border-radius: 20px;
    font-family: 'Dancing Script', cursive;
}

.flags {
    text-align: right;
    padding: 2vh;
}

.flag {
    vertical-align: middle;
    height: 3vh;
    padding: 10px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

#rsvp {
    font-family: 'Source Serif 4';
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#contact {
    padding: .5rem 1rem; 
}

#main-text {
    text-align: center;
}

p, table {
    font-family: 'Source Serif 4';
    font-size: 26px;
}

table {
    margin: 0 auto;
}

td {
    text-align: left;
    vertical-align: top;
    padding: 5px 20px;
}

span {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 10px;
    font-family: 'Source Serif 4';
    font-size: 20px;
}

.photo {
    height: 300px;
    opacity: 1;
}

#photos {
    display: flex;
    justify-content: space-evenly;
}

input[type='checkbox'] {
    display: none; 
}

.wrap-collabsible {
    margin: 1.2rem 0;
}

.lbl-toggle {
    content: '+';
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out; 
}

.lbl-toggle::before {
    content: '+';
    /* display: inline-block; */
    /* border-top: 5px solid transparent; */
    /* border-bottom: 5px solid transparent; */
    /* border-left: 5px solid currentColor; */
    /* vertical-align: middle; */
    margin-right: .7rem;
    /* transform: translateY(-2px); */
    transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
    /* transform: rotate(90deg) translateX(-3px); */
    content: '-';
}

.collapsible-content {
    font-family: 'Source Serif 4';
    font-size: 26px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 500vh;
}

.toggle:checked+.lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; 
}

.collapsible-content .content-inner {
    /* background: rgba(0, 105, 255, .2); */
    padding: .5rem 1rem; 
}

#rsvp {
    text-align: center;
}

.button {
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: 3px solid;
    border-radius: 20px;
}

.button:hover {
    background: burlywood;
}
